:root {
     --salmon: #753838;
     --skyblue: #45486a;
}

/* nav bar */
.st-emotion-cache-1avcm0n {
     background: var(--salmon),0.8;
}

/* main */
.main {
     background: linear-gradient(var(--salmon), var(--skyblue));
}

.main .stHeadingContainer {
     padding-bottom: 15px;
     text-align: center;
     border: 1px solid white;
}

/* side bar */
.block-container .stHeadingContainer {
     text-align: center;
}

.e1f1d6gn2:last-child {
     padding: 15px;
     background-color: #262730;
     border-radius: 15px;
}
